
<div id="tablaMensajes">
    {{#if datosDesnormalizados.length}}
        {{#each datosDesnormalizados}}
            <div class="Mensajeria">
                {{!-- <p>{{ this.msj.emailForm }}</p>
                <p>{{ this.msj.msjForm }}</p>
                <p>{{ this.createDate }}</p> --}}

                <p>{{ this.idForm }}</p>
                <p>{{ this.nombreForm }}</p>
                <p>{{ this.apellidoForm }}</p>
                <p>{{ this.edadForm }}</p>
                <p>{{ this.aliasForm }}</p>
                <p>{{ this.avatarForm }}</p>
                
                {{#if msjForm.length}}
                    <p>{{ this.msjForm }}</p>
                <p>{{ this.createDate }}</p>
            </div>
        {{/each}}
    {{/if}}
</div>
<div id="contenedorCompresion">
    {{#if comprensionTotal.length}}
        <p>% {{ this.comprensionTotal }}</p>
    {{/if}}
</div>



<style>
    .titulo {
        text-align: center;
    }
    .Mensajeria {
        display: flex ;
        align-items: center;
        justify-content: center;
    }
</style>



